.backdrop {
  position: fixed;
  top: 0;
  z-index: 1;
  transition: opacity var(--time-duration), visibility var(--time-duration);
  background: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100%;
}

.modalA {
  z-index: 2;
  position: fixed;
  width: 280px;
  min-height: 180px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  padding: 40px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  background-image:linear-gradient(to right bottom, rgb(26, 25, 25),rgb(80, 1, 14));
  transition: transform var(--time-duration);
  .backdrop.is-hidden & {
    transform: translate(-50%, -50%) scale(0);
  }

  @include desktop {
    width: 400px;
 min-height: 300px;
  }
}

.modal__close-btn {
  width: 25px;
  height: 25px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  border: none;
  position: absolute;
  fill:#FFFFFF;
  top: 10px;
  right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  padding: 0;
  cursor: pointer;
  transition: transform var(--time-duration) var(--time-function);
  &:hover, &:focus {
    transform:scale(1.2) ;
  }
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}
.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
}

.no-scroll {
  overflow: hidden;
}
.signup {
  margin-top: 15px;
}

.login-form {
  max-width: 240px;
  display: flex;
  flex-direction: column;
  
  @include desktop {
    width: 480px;
  
  }
}

.login-form label {
  width: 200px;
  color: #FFFFFF;
  text-align: center;
  margin-bottom: 16px;
  
  @include desktop {
    width: 320px;
   
  }
}
.login-form input{
  font-weight: 200;
  margin-top: 5px;
  color: #FFFFFF;
background-color: #ffffff18;
}
.login-form button{
  margin-top: 30px;
}

.login-form button {
background-color:rgba(240, 248, 255, 0);
border-color: var(--background-color);
  color: #FFFFFF;
  transition: background-color var(--time-duration) var(--time-function),
  border-color var(--time-duration) var(--time-function);
  &:hover,&:focus{
    border-color: #FF6B02;
    background-color: #FF6B02;
    cursor: pointer;
  }
}


.login-form input,
.login-form button {
 
  width: 200px;
  padding: 4px;
  font: inherit;
  
  @include desktop {
    width: 320px;
  
  }
}
.login-form label,
.login-form input,
.login-form button{
  border-radius: 10px;
  
}


.boxsign {

  margin-top: 30px;
  width: 100%;
  display: flex;
  justify-content: space-around;
}
 .sign {
  position: absolute;
  right:20;
  bottom: - 10;
  transform: translateX(-80);
  margin: 30px auto;
  padding: 10px;
color: #FFFFFF;
border: none;
background-color:  rgba(10, 10, 10, 0.0);
border-radius: 10px;
transition: background-color var(--time-duration) var(--time-function),
border-color var(--time-duration) var(--time-function);
cursor: pointer;
&--out{
  transform: translateX(1); 
}

&:hover,&:focus{
  border-color: #FF6B02;
  background-color: #FF6B02;
}
}

.container {
  width: 100%;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;

@include mobile {
  width: 480px;
}
@include tablet {
  width: 768px;
}

@include desktop {
  width: 1200px;
}
}
ul,
ol {
  z-index: 4;
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}
li {
  list-style-type: none;
}
.social-list {
  display: flex;
  justify-content: center;
 
}
.social-list__item {
  width: 44px;
  height: 44px;
  & + & {
    margin-left: 30px;
  }
}

.social-list__icon {
  width: 20px;
  height: 20px;
}

.social-list__link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border-color:var(--background-color) ;
  @include centerFlex();
  background-color: rgba(255, 255, 255, 0);
  fill: var(--background-color);


  transition: background-color var(--time-duration) var(--time-function),
    fill var(--time-duration) var(--time-function);
  &:hover,
  &:focus {
    cursor: pointer;
   border-color: var(--background-color);
    
  }
  &--blue:hover, &--blue:focus{
    border-color: #4d6bee;
    background-color: #4d6bee;
    cursor: pointer;
  }
  &--orange:hover, &--orange:focus {
    border-color: #FF6B02;
    background-color: #FF6B02;
    cursor: pointer;
  }
}
.nohover{
  &:hover, &:focus {
    background-color:  rgba(10, 10, 10, 0.0);
}
}