@import '~node_modules/modern-normalize/modern-normalize.css';
html,
body {
	height: 100%;
}

.wrapper-main-content	{
	min-height: 100%;
	display: flex;
	flex-direction: column;
}

.main	{
	flex: 1 1 auto;
}
