p {
    padding: 0;
    margin: 0;
}

.footer-container {
    margin-left: auto;
    margin-right: auto;
    padding-top: 0;
    padding-bottom: 0;
    color: #545454;

    @media screen and (min-width: 320px) {
            width: 320px;
            padding-left: 20px;
            padding-right: 20px;
        }
    
    @media screen and (min-width: 768px) {
            width: 768px;
            padding-left: 75px;
            padding-right: 75px;
        }
    
    @media screen and (min-width: 1024px) {
            width: 1024px;
            padding-left: 71px;
            padding-right: 71px;
        }
}

.footer__icons {
    padding-left: 10px;
    padding-right: 10px;
    
}
.footer{
background-color: #F7F7F7;
}

@media screen and (min-width: 320px) {
.footer__copyright{
margin: 0px;
display: flex;
justify-content: center;
padding-top: 29px;
padding-bottom: 10px; 
}

.footer__devs{
    margin: 0px;
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
    align-items: center;
}

.footer__info{
    font-size: 14px;
    font-weight: 400;
    }
}
@media screen and (min-width: 768px) {
    .footer__info{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .footer__copyright{
        padding-top: 30px;
        padding-bottom: 28px;
    }
    .footer__devs{
        padding-top: 30px;
        padding-bottom: 28px;
    }
    .footer__info{
        font-size: 16px;
        font-weight: 400;
    }
}

.footer__info-link{
    color: #545454;
    padding-left: 5px;
}

.footer__info-link:hover,
.footer__info-link:focus{
    color: #FF6B08;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    z-index: 5;
}

.footer-backdrop.is-hidden__footer {
    opacity: 0;
    pointer-events: none;
}


.footer-backdrop.is-hidden__footer.modal__footer {
    transform: scale(0, 9) translate(-50%, -50%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
   
}

.modal__footer {
    background: #ffffff;
        width: 528px;
        height: 581px;
        box-shadow: 0px 2px 4px rgba(223, 87, 8, 0.12),
            0px 2px 2px rgba(219, 86, 9, 0.14),
            0px 4px 2px rgba(223, 81, 5, 0.2);
        border-radius: 4px;
        padding: 40px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(1);
        opacity: 1;
        transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
        z-index: 999;
    }
    @media screen and (min-width: 320px) and (max-width: 424px){
        .modal__footer{
            width: 300px;
            height: 350px;
            padding: 20px;
        }
    }
    @media screen and (min-width: 425px) {
        .modal__footer{
        width: 400px;
        height: 500px;
    }}
        @media screen and (min-width: 768px) {
            .modal__footer {
                width: 650px;
                height: 500px;
            }
        }
        


.close-modal-button {
    width: 50px;
    height: 50px;
    border-radius: 20%;
    border: 1px transparent ;
    background-color: #FFFFFF;
    position: absolute;
    top: 8px;
    right: 8px;
    cursor: pointer;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    @media screen and (min-width: 320px) and (max-width: 424px) {
            width: 30px;
            height: 30px;
        }
}

.close-modal-button:hover,
.close-modal-button:focus {
    fill: #FF6B08;
}

 .team-name {
    display: block;
    align-items: center;
    justify-content: center;
    margin-bottom: 12px;
    font-weight: 400;
    font-size: 10px;
    line-height: 13px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #545454;
    @media screen and (min-width: 320px) and (max-width: 424px) {
            margin-bottom: 5px;
            font-weight: 100;
                font-size: 8px;
                line-height: 8px;
        }
} 
.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}
.team__photo{
        border-radius: 50%;
        width: 100px;
        height: 100px;
        margin-left: auto;
        margin-right: auto;
 @media screen and (min-width: 320px) and (max-width: 767px) {
     margin-bottom: 10px;
    width: 55px;
    height: 55px;
 }

 @media screen and (min-width: 768px) and (max-width: 1023px){
     margin-bottom: 15px;
 }

 @media screen and (min-width: 1024px) {
     margin-bottom: 20px;
 }
       
    }

 .team-link{
    border-color: transparent;
    border: 1px;
    text-decoration: none;
    cursor: pointer;
    
 }
 .team-link:hover,
 .team-link:focus {
     border-color: #FF6B08;
     transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
 }


.team-info__title{
    color: #FF6B08;
    font-family: Roboto;
        font-size: 20px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0em;
        text-align: center;
        margin-bottom: 20px;
        
}
@media screen and (min-width: 425px) and (max-width: 767px){
    .team-info__title{
    font-size: 15px;
        font-weight: 400;
        line-height: 14px;
        margin-bottom: 10px;}
}
@media screen and (min-width: 320px) and (max-width: 424px) {
    .team-info__title {
        font-size: 10px;
        font-weight: 200;
        line-height: 8px;
        margin-bottom: 8px;
    }
}
.team {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

@media screen and (min-width: 320px) and (max-width: 424px) {
        flex-basis: calc((100% - 3 * 10px) / 3);
        margin-left: -10px;

    }

@media screen and (min-width: 425px) and (max-width: 767px) {
        flex-basis: calc((100% - 3 * 20px) / 3);
        margin-left: -40px;
        
    }

    @media screen and (min-width: 768px) and (max-width: 1199px) {
        flex-basis: calc((100% - 3 * 30px) / 3);
        margin-left: -30px;
    }

    @media screen and (min-width: 1200px) {
        flex-basis: calc((100% - 4 * 30px) / 4);
        margin-left: -30px;
    }
}
.team-member{
    margin-bottom: 30px;
    margin-left: 30px;
    align-items: center;
    
    @media screen and (min-width: 425px) and (max-width: 767px) {
            margin-left: 20px;
            margin-bottom: 15px;
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            align-items: center;
        }
                @media screen and (min-width: 320px) and (max-width: 424px) {
                    margin-left: 10px;
                    margin-bottom: 10px;
                    display: flex;
                    flex-wrap: wrap;
                    flex-direction: column;
                    align-items: center;
                }
}