.container > .gallery {
  padding-top: 20px;
}

.info-notify {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.info-image {
  width: 320px;
}

@media screen and (min-width: 768px) {
  .container > .gallery {
    padding-top: 30px;
  }

  .info-image {
    width: 720px;
  }

  .gallery {
    display: flex;
    flex-wrap: wrap;

    // margin-top: -30px;
    //margin-left: -30px;
  }
}

@media screen and (min-width: 1200px) {
  .info-image {
    width: 960px;
  }
}

/* -------- FILM CARD STYLES -------- */
.card {
  max-width: 280px;
  max-height: 443px;
  gap: 30px;
  transition: 0.5s linear;
  margin: 20px auto;

  border-radius: 5px;
  padding-bottom: 10px;
  &:hover,
  &:focus {
    transform: scale(1.05);
    box-shadow: 4px 3px 12px -1px rgba(255, 107, 8, 0.5);
  }
  @include mobile {
    width: 280px;
    height: 443px;
  }

  @include tablet {
    width: 336px;
    height: 495px;
    box-sizing: content-box;

    &:hover,
    &:focus {
      transform: scale(1.05);
      box-shadow: 4px 3px 12px -1px rgba(255, 107, 8, 0.5);
    }

    @include tablet {
      width: 293px;
      height: 440px;
      display: flex;
      flex-wrap: wrap;
      height: 443px;
    }

    @include desktop {
      width: 395px;
      height: 634px;
    }
  }
  .card-img {
    max-width: 280px;
    max-height: 388px;

    margin-bottom: 0;
  }

  @include desktop {
    width: 274px;
    height: 440px;
    // margin-right: 0;
    // flex-basis: calc(100% / 3 - 30px);
  }
}
.card-img {
  width: 280px;
  height: 398px;

  border-radius: 5px;
  object-fit: cover;
  margin-bottom: 10px;
  cursor: pointer;

  @include mobile {
    width: 280px;
    height: 402px;
  }

  @include tablet {
    width: 293px;
    height: 398px;
  }
  @include desktop {
    width: 274px;
    height: 398px;
  }

  @include tablet {
    width: 336px;
    height: 455px;
  }
  @include desktop {
    width: 395px;
    height: 574px;
  }

  &:hover,
  &:focus {
    border-radius: initial;
  }
}

.film {
  height: 31px;
  font-family: 'Roboto';
  @include font(500, 12px, 1.34, null, var(--accent-color));

  @include tablet {
    @include font(500, 12px, 1.33, null, var(--accent-color));
  }
  @include desktop {
    height: 48px;
    @include font(500, 20px, 1.2, null, var(--accent-color));
  }
}

.film-title {
//   font-size: 12px;
//   font-weight: 500;
//   line-height: 1.34;
  color: #000;
  text-transform: uppercase;
}

.films__img-wrapper {
  width: 100%;
  height: 100%;
}
.films__img-wrapper {
  width: 280px;
  height: 398px;
  @include tablet {
    width: 293px;
    height: 398px;
  }
  @include desktop {
    width: 274px;
    height: 398px;
  }
}
.desc-wraper {
  display: flex;
  justify-content: flex-start;
}

.film-line {
  margin-right: 2px;
  margin-left: 2px;
}

.film-release {
  & + & {
    border-left: 1px solid var(--accent-color);
    padding-left: 2px;
  }
}

.film-average {
  display: block;
  background-color: var(--accent-color);
  color: #fff;

  padding: 0 9px;
  border-radius: 5px;

  &.is-hidden {
    display: none;
  }
}
