.header__form {
  width: 280px;
  height: 20px;
  position: relative;

  display: flex;
  align-items: center;

  margin-bottom: 22px;
}

.header__form-input {
  width: 100%;
  background-color: inherit;
  border: none;
  border-bottom: 1px solid #fff;

  padding: 4px 0;
}

.header__form-input::placeholder {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
}

.header__form-img {
  position: absolute;
  width: 12px;
  height: 12px;
  right: 0;
}

.header__error-text {
  color: rgba(255, 0, 27, 1);
  text-shadow: 5px 5px 20px #FFFFFF, 5px 5px 5px #ff0000;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  transition: 0.5s linear;
}

.header__error-text .is-hidden {
  opacity: 0;
  visibility: none;
  transition: 0.6s linear;
}

.header__content-hide {
  display: none;
}
@media screen and (min-width: 768px) {
  .container {
    padding-left: 71px;
    padding-right: 76px;
  }

  .header__name-logo {
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    font-weight: 500;
    line-height: 35px;
    color: var(--main-color);

    display: inline-block;
  }

  .header__form {
    width: 336px;
    margin: 0 auto 22px;
  }

  .header__error {
    text-align: center;
  }
}
