ul,
ol {
  z-index: 4;
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}
li {
  list-style-type: none;
}
.social-list {
  display: flex;
  list-style-type: none !important;
  justify-content: center;
  margin-top: 20px;
}
.social-list__item {
  list-style-type: none !important;
  width: 44px;
  height: 44px;
  & + & {
    margin-left: 10px;
  }
}

.social-list__icon {
  width: 20px;
  height: 20px;
}

.social-list__link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  @include centerFlex();
  background-color: rgba(255, 255, 255, 0.1);
  fill: var(--background-color);
  transition: background-color var(--time-duration) var(--time-function),
    fill var(--time-duration) var(--time-function);
  &:hover,
  &:focus {
    fill: var(--background-color);
    background-color: var(--accent-text-color);
  }
  &--gray {
    fill: var(--icon-color);
  }
}
