// lines (16 sloc)  529 Bytes

:root {
    --primary-text-color: #212121;
    --accent-text-color: #2196f3;
    --secondary-text-color: #757575;
    --primary-background-color: #2f303a;
    --background-color: #ffffff;
    --accent-btn-text-color: #000000;
    --accent-btn-background-color: #188ce8;
    --team-background-color: #f5f4fa;
    --contact-color: rgba(255, 255, 255, 0.6);
    --border-color: #eeeeee;
    --border-bottom-color: #ececec;
    --icon-color: #afb1b8;
    --time-function: cubic-bezier(0.4, 0, 0.2, 1);
    --time-duration: 250ms;
  }