<!---------------------Footer------------------------------------>
<footer class="footer">
    <div class="footer-container">
        <div class="footer__info">
            <div class="footer__copyright">
                <p>&copy; 2022 | All Rights Reserved |&nbsp;</p>
            </div>
            <div class="footer__devs">
                <p> Developed with </p>
                <div class="footer__icons">
                    <svg class="footer__info-icon" width="14" height="12.88">
                        <use href="./images/icons.svg#icon-blue-heart"></use>
                    </svg>
                    <svg class="footer__info-icon" width="14" height="12.88">
                        <use href="./images/icons.svg#icon-yellow-heart"></use>
                    </svg>
                </div>
                <span>by</span>
                <a href="" class="footer__info-link" data-modal-open-team>GoIT Students</a>
                <div class="footer__icons">
                    <svg class="footer__info-icon" width="14" height="12.88">
                        <use href="./images/icons.svg#icon-orange-heart"></use>
                    </svg>
                </div>
            </div>
        </div>
    </div>
    <!------------------Modal Team Info---------------------------->
    <div class="footer-backdrop is-hidden__footer" data-modal-team>
        <div class="modal__footer is-hidden__footer">
            <div class="modal-icon">
                <button type="button" name="" class="close-modal-button" data-modal-close-team>
                    <svg class="close-icon" width="24" height="24">
                        <use href="./images/icons.svg#icon-cinema-clapperboard"></use>
                    </svg></button>
            </div>
        </div>
    </div>
    </div>
</footer>