<div class="container">
  <h2 class="visually-hidden">Filmoteka gallery</h2>
  <ul class="gallery js-gallery">
    <!-- Список <li> с карточками изображений -->
      <li class="films__item card">
          <div class="films__img-wrapper">
            <img class="films__img card-img"   src="./images/depositphotos_94342042-stock-illustration-pop-art-comics-style.jpeg" alt="" loading="lazy" datafilmid="" />
            <div class="img__row film">
              <p  class="films__name film-title ">film-title</p>
              <span class="film-release">Genres</span>
              <span class="film-release">2021</span>
            </div>
          </div>
      </li>
   
    </ul>
  <div class="info-notify is-hidden">
    <p class="info-notify-text"></p>
    <img src="./images/depositphotos_94342042-stock-illustration-pop-art-comics-style.jpeg" alt="info-image"
      class="info-image" />
  </div>
</div>