<header id="home" class="header">
  <div class="header-container">
    <div class="header-logo-container">
      <a href="./index.html" lang="en" class="header-logo-container-link">
        <svg width="20" height="20" class="header-logo-icon">
          <use href="./images/symbol-defs.svg#icon-film"></use>
        </svg>
        <span class="header-logo-name">Filmoteka</span>
      </a>
    </div>
    <include src="./partials/auth.html"></include>
    <nav class="header-nav">
      <ul class="header-nav-list">
        <li class="header-nav-item">
          <a id="homeL" href="#home" class="header-nav-link current">HOME</a>
        </li>
        <li class="header-nav-item">
          <a id="libraryL" href="#home" class="header-nav-link second"
            >MY LIBRARY</a
          >
        </li>
      </ul>
    </nav>
  </div>

  <form id="search" class="input-container header__form">
    <input
      type="text"
      id="search-box"
      class="search-box-input header__form-input"
      placeholder="Movie search"
      autocomplete="off"
    />
    <button type="submit" class="input-search-button">
      <svg width="12" height="12" class="search-box-input-icon">
        <use href="./images/symbol-defs.svg#icon-search"></use>
      </svg>
    </button>
  </form>
  <div id="buttons-box" class="buttons-container is-hidden">
    <button class="header-button watched-btn orange">WATCHED</button>
    <button class="header-button queue-btn">QUEUE</button>
  </div>

  <div class="header__error js-header__error">
    <p class="header__error-text is-hidden">
      Search result not successful. Enter the correct movie name and try again
    </p>
  </div>
</header>
