<header id="library" class="header my-library">
  <link rel="stylesheet" href="./sass/index.scss" />
  <div class="header-container">
    <div class="header-logo-container">
      <a href="./index.html" lang="en" class="header-logo-container-link">
        <svg width="20" height="20" class="header-logo-icon">
          <use href="./images/symbol-defs.svg#icon-film"></use>
        </svg>
        <span class="header-logo-name">Filmoteka</span>
      </a>
    </div>

    <nav class="header-nav">
      <ul class="header-nav-list">
        <li class="header-nav-item">
          <a href="./index.html" class="header-nav-link">HOME</a>
        </li>
        <li class="header-nav-item">
          <a href="" class="header-nav-link current second">MY LIBRARY</a>
        </li>
      </ul>
    </nav>
  </div>

  <div class="buttons-container">
    <button class="header-button watched-btn orng">WATCHED</button>
    <button class="header-button queue-btn">QUEUE</button>
  </div>
</header>
